body{
    margin: 0;
    overflow: hidden;
}
#grid{
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 44, 103);
}
#introImg{
    position: absolute;
    left: 0vw;
    bottom: 0vh;
    width: 100vw;
    height: 100vh;
    color: rgb(243, 149, 13);
    text-align: center;
    background-color: rgb(15, 44, 103);
    transition: all 1s;
}
#transition{
    position: absolute;
    left: 25vw;
    top: 30vh;
    width: 50vw;
    height: 40vh;
    opacity: 0;
    transition: opacity 2s;
}
#img{
    transition: opacity 2s;
}
#intro{
    position: absolute;
    left: 0vw;
    bottom: 0vh;
    width: 100vw;
    height: 100vh;
    color: rgb(244, 225, 133);
    text-align: center;
    background-color: rgb(15, 44, 103);
    transition: all 1s;
}
#instructionPage{
    position: absolute;
    left: 0vw;
    bottom: 0vh;
    width: 100vw;
    height: 100vh;
    color: rgb(244, 225, 133);
    text-align: center;
    background-color: rgb(15, 44, 103);
    transition: all 1s;
}
#instructionText{
    position: absolute;
    left: 10vw;
    top: 13vh;
    width: 80vw;
    height: 65vh;
    font-size: 1.75em;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
}
#gadgetText{
    position: absolute;
    left: 10vw;
    top: 13vh;
    width: 80vw;
    height: 65vh;
    font-size: 1.5em;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0,0);
}
::-webkit-scrollbar-thumb {
    background: #555;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(243, 149, 13);
}
::-webkit-scrollbar-corner{
    display: none;
}
#gadgetPage{
    position: absolute;
    left: 0vw;
    bottom: 0vh;
    width: 100vw;
    height: 100vh;
    color: rgb(244, 225, 133);
    text-align: center;
    background-color: rgb(15, 44, 103);
    transition: all 1s;
}
.button{
    width: 12.5vw;
    height: 10vh;
    border: rgb(243, 149, 13) 4px solid;
    background-color: rgb(244, 225, 133);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 1s;
}
.button:hover{
    background-color: rgb(243, 149, 13);
}
@keyframes flash{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
#clickAnywhere{
    display: none;
    animation: flash 5s infinite linear;
}
#drawInput{
    position: absolute;
    font-size: 5em;
    padding: 25px 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}
#itemUsed{
    position: absolute;
    font-size: 5em;
    padding: 25px 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}
#points{
    position: absolute;
    left: 0vw;
    top: 0vh;
    padding-top: 1vh;
    width: 100vw;
    height: 5vh;
    font-size: 2em;
    color: white;
    opacity: 0;
    text-align: center;
    transition: all 1s;
}
#points:hover{
    opacity: 1;
}
#currentItemPage{
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 15vw;
    height: 15vw;
    background-color: rgba(244, 225, 133, 0.75);
    transition: all 1s;
    opacity: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    font-size: 1.5em;
    border: rgb(243, 149, 13) 4px solid;
}
#currentItemPage:hover{
    opacity: 1;
}
#settings{
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: rgb(244, 225, 133);
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.25em;
    padding: 0.5% 3%;
    opacity: 0;
    transition: all 1s;
}
#settings:hover{
    padding: 1% 3%;
    opacity: 1;
    background-color: rgb(243, 149, 13);
}
#settingPage{
    position: absolute;
    right: 0vw;
    top: -26vh;
    width: 10.4vw;
    height: 26vh;
    background-color: rgb(244, 225, 133);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 1s;
    text-align: center;
}
.settingButton{
    width: 80%;
    height: 20%;
    border: rgb(243, 149, 13) 4px solid;
    background-color: rgb(244, 225, 133);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 1s;
}
.settingButton:hover{
    background-color: rgb(243, 149, 13);
}
#showInventory{
    position: absolute;
    left: 44.75%;
    bottom: 0%;
    background-color: rgb(244, 225, 133);
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 1.25em;
    padding: 0.5% 3%;
    transition: all 1s;
}
#showInventory:hover{
    padding: 1% 3%;
    background-color: rgb(243, 149, 13);
}
#inventory{
    position: absolute;
    left: 0vw;
    bottom: -50vh;
    width: 100vw;
    height: 50vh;
    background-color: rgb(244, 225, 133);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all 1s;
}
.box{
    position: absolute;
    width: 20vw;
    height: 50%;
    text-align: center;
    font-size: 1.1em;
    padding-top: 1%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: backgroundColor 0.5s;
}
#item0{
    left: 0%;
    top: 0%;
}
#item1{
    left: 20%;
    top: 0%;
}
#item2{
    left: 40%;
    top: 0%;
}
#item3{
    left: 60%;
    top: 0%;
}
#item4{
    left: 80%;
    top: 0%;
}
#item5{
    left: 0%;
    top: 50%;
}
#item6{
    left: 20%;
    top: 50%;
}
#item7{
    left: 40%;
    top: 50%;
}
#item8{
    left: 60%;
    top: 50%;
}
#item9{
    left: 80%;
    top: 50%;
}
#icon0{
    font-size: 5em;
}
#icon1{
    font-size: 5em;
}
#icon2{
    font-size: 5em;
}
#icon3{
    font-size: 5em;
}
#icon4{
    font-size: 5em;
}
#icon5{
    font-size: 5em;
}
#icon6{
    font-size: 5em;
}
#icon7{
    font-size: 5em;
}
#icon8{
    font-size: 5em;
}
#icon9{
    font-size: 5em;
}
#currentItemImg{
    font-size: 5em;
}
.gadgetInfo{
    position: absolute;
    right: 0%;
    width: 90%;
    height: 20%;
    padding-bottom: 10px;
    border-bottom: 5px solid rgb(243, 149, 13);
}
#gadget1{
    top: 0%;
}
#gadget2{
    top: 28%;
}
#gadget3{
    top: 56%;
}
#gadget4{
    top: 84%;
}
#gadget5{
    top: 112%;
}
#gadget6{
    top: 140%;
}
#gadget7{
    top: 168%;
}
#gadget8{
    top: 196%;
}
#gadget9{
    top: 224%;
}
#gadget10{
    top: 252%;
}
#gadget11{
    top: 280%;
}
#gadget12{
    top: 308%;
}
#gadget13{
    top: 336%;
}
#gadget14{
    top: 364%;
}
#gadget15{
    top: 392%;
}
#gadget16{
    top: 420%;
}
#gadget17{
    top: 448%;
}
#gadget18{
    top: 476%;
}
#gadget19{
    top: 504%;
}
#gadget20{
    top: 532%;
}
#imgA{
    position: absolute;
    font-size: 4.5em;
    top: 0%;
    left: 0%;
}
#imgB{
    position: absolute;
    font-size: 4.5em;
    top: 28%;
}
#imgC{
    position: absolute;
    font-size: 4.5em;
    top: 56%;
}
#imgD{
    position: absolute;
    font-size: 4.5em;
    top: 84%;
}
#imgE{
    position: absolute;
    font-size: 4.5em;
    top: 112%;
}
#imgF{
    position: absolute;
    font-size: 4.5em;
    top: 140%;
}
#imgG{
    position: absolute;
    font-size: 4.5em;
    top: 168%;
}
#imgH{
    position: absolute;
    font-size: 4.5em;
    top: 196%;
}
#imgI{
    position: absolute;
    font-size: 4.5em;
    top: 224%;
}
#imgJ{
    position: absolute;
    font-size: 4.5em;
    top: 252%;
}
#imgK{
    position: absolute;
    font-size: 3.8em;
    top: 280%;
}
#imgL{
    position: absolute;
    font-size: 4.5em;
    top: 308%;
}
#imgM{
    position: absolute;
    font-size: 4.5em;
    top: 336%;
}
#imgN{
    position: absolute;
    font-size: 4.5em;
    top: 364%;
}
#imgO{
    position: absolute;
    font-size: 4.5em;
    top: 392%;
}
#imgP{
    position: absolute;
    font-size: 4.5em;
    top: 420%;
}
#imgQ{
    position: absolute;
    font-size: 4.5em;
    top: 448%;
}
#imgR{
    position: absolute;
    font-size: 4.5em;
    top: 476%;
    left: 1.5%;
}
#imgS{
    position: absolute;
    font-size: 4.5em;
    top: 504%;
}
#imgT{
    position: absolute;
    font-size: 4.5em;
    top: 532%;
}