body{
    margin: 0;
    overflow: hidden;
}
#grid{
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 44, 103);
}
#introImg{
    position: absolute;
    left: 0vw;
    bottom: 0vh;
    width: 100vw;
    height: 100vh;
    color: rgb(243, 149, 13);
    text-align: center;
    background-color: rgb(15, 44, 103);
    transition: all 1s;
}
#transition{
    position: absolute;
    left: 25vw;
    top: 30vh;
    width: 50vw;
    height: 40vh;
    opacity: 0;
    transition: opacity 2s;
}
#img{
    transition: opacity 2s;
}
#intro{
    position: absolute;
    left: 0vw;
    bottom: 0vh;
    width: 100vw;
    height: 100vh;
    color: rgb(244, 225, 133);
    text-align: center;
    background-color: rgb(15, 44, 103);
    transition: all 1s;
}
#instructionPage{
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    color: rgb(244, 225, 133);
    text-align: center;
    background-color: rgb(15, 44, 103);
}
#gadget{
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    color: rgb(244, 225, 133);
    text-align: center;
    background-color: rgb(15, 44, 103);
}
.button{
    width: 12.5vw;
    height: 10vh;
    border: rgb(243, 149, 13) 4px solid;
    background-color: rgb(244, 225, 133);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 1s;
}
.button:hover{
    background-color: rgb(243, 149, 13);
}
@keyframes flash{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
#drawInput{
    position: absolute;
    font-size: 2.5em;
}